.heading {
  display: flex;
  animation: openRec 0.2s linear;

  @keyframes openRec {
    from {
      opacity: 0.5;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  > div {
    display: flex;
    flex-direction: column;

    > span:first-child {
      font-size: 24px;
      color: #fff;
    }
    > span:last-child {
      margin-top: 5px;
      font-size: 14px;
    }
  }
}
