.main-infos {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 8px 12px;
  border-radius: 4px;

  a {
    text-decoration: none;
  }

  .avatar__div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 4px;
    background-color: #212121;

    > svg {
      width: 20px;
      height: 20px;
    }
  }

  .naming {
    display: flex;
    flex-direction: column;

    span {
      font-size: 14px;
      margin-right: 5px;
    }

    .name {
      font-size: 16px;
      color: #fff;
    }
  }
}
