.under {
  position: relative;
  height: 30vh;
  max-height: 336px;
  min-height: 276px;

  display: flex;
  align-items: flex-end;

  padding: 0 21px 21px 21px;

  .background {
    position: absolute;
    top: -64px;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(#535353, #2e2e2e);
  }

  .avatar {
    position: relative;
    min-height: 192px;
    min-width: 192px;
    width: 192px;
    height: 192px;
    margin-right: 15px;
    border-radius: 2px;

    z-index: 1;
    background: #282828;
    box-shadow: 0 0 20px 10px #2c2c2c;

    .img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      > svg {
        fill: #7f7f7f;
        height: 30%;
        width: 30%;
      }
    }
    .change__img {
      display: none;
    }
    &:hover {
      .change__img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        > svg {
          fill: #fff;
          width: 35%;
          height: 35%;
          z-index: 1;
        }

        > span {
          color: #fff;
          z-index: 1;
        }

        > div {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          opacity: 0.5;

          background: #282828;
        }
      }
    }
  }

  .infos {
    z-index: 1;
    flex: 1;
    --font-size-title: 72px;
    span,
    a {
      color: #fff;
      font-size: 14px;
    }

    .heading {
      display: flex;
      align-items: center;
    }

    .title {
      display: flex;
      font-size: var(--font-size-title);
      white-space: none;
      margin: 5px 0;

      &:hover {
        cursor: pointer;
      }
    }

    .extra__info {
      display: flex;
      align-items: center;
      margin-top: 8px;
      > span {
        margin-right: 5px;

        &:first-child {
          > a {
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1315px) {
    .infos {
      .title {
        font-size: 48px;
      }
    }
  }
  @media (max-width: 988px) {
    .infos {
      .title {
        font-size: 32px;
      }
    }
  }
}
