.avatar {
  position: relative;
  margin-right: 15px;
  border-radius: 2px;
  min-width: 180px;
  min-height: 180px;
  
  z-index: 1;
  background: #282828;
  box-shadow: 0 0 20px 10px #2c2c2c;
  
  .file-avatar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    > img {
      max-height: 100%;
      max-width: 100%;
    }

    > svg {
      fill: #7f7f7f;
      height: 30%;
      width: 30%;
    }
  }
  .change__img {
    display: none;
  }
  .settings {
    display: none;

    > div {
      display: none;
    }

    &:hover {
      > div {
        display: flex;
      }
    }

    > svg {
      height: 100%;
      width: 100%;
      fill: #fff;
    }
  }
  &:hover {
    .change__img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      > svg {
        fill: #fff;
        width: 35%;
        height: 35%;
      }

      > span {
        color: #fff;
      }

      > div {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.5;
        z-index: -1;

        background: #282828;
      }
    }

    .settings {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 1;
      top: 8px;
      right: 8px;
      padding: 10px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: #202020;

      &:hover {
        background-color: #3E3E3E;
      }
    }
  }
}
