.menu {
  padding: 20px;
  background: linear-gradient(#212121, #121212);

  .button__menu {
    display: flex;
    align-items: center;
    padding-bottom: 20px;

    .setting {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      position: relative;
    }
  }
}
