.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 6px;
  background: none;
  gap: 10px;

  padding: 10px 8px 10px 8px;

  transition: background 0.1s linear;
  &:hover {
    cursor: pointer;
    background: #464343;
  }

  svg {
    fill: #fff;
    width: 21px;
    height: 21px;
  }

  > div {
    display: flex;
    align-items: center;
    gap: 6px;

    > span {
      text-align: left;
      flex: 1;

      font-size: 13px;
      color: #fff;
      white-space: nowrap;
    }
  }
}
