.container {
  transform: translateY(-64px);
  height: 100%;

  .content {
    position: relative;

    .background {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 232px;
      background: linear-gradient(#212121, #121212);
    }
  }
}
