.span {
  display: flex;
  margin-right: 8px;
  transition: all 0.15s;
  &:last-child {
    margin-right: 0 !important;
  }

  > button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    background-color: #232323;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    white-space: nowrap;
    padding: 8px 12px;

    transition: background-color 0.3s;
    &:hover {
      background-color: #2c2c2c;
      cursor: pointer;
    }
  }

  .clear {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    padding: 5px;

    > svg {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
  }
}
.span.activePlaylist {
  z-index: 1;
  > button {
    color: #000;
    background-color: #fff;

    &:hover {
      background-color: #fff;
    }
  }
}
.span.activeName {
  z-index: 0;
  margin: -22px;
  > button {
    padding-left: 22px;
    color: #000;
    background-color: #dedede;
    border-radius: 0 20px 20px 0;
    &:hover {
      background-color: #ebebeb;
    }
  }
}
