$radius: 10px;

.container {
  display: grid;
  grid-template-columns: minmax(280px, 22%) 2fr;
  grid-template-rows: 110px 3fr 100px;
  grid-gap: 7px;
  height: 100%;
  padding: 7px;

  // border-radius: 15%;

  .main {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 2;
    border-radius: 10px;

    background-color: #121212;

    height: 100%;
    width: 100%;

    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: #3b3b3b;
    }
    &::-webkit-scrollbar-track {
      background: #121212;
      border-radius: 0 10px 10px 0;
    }
  }

  .layout {
    height: 100%;

    .library {
      border-radius: $radius;
      background-color: #121212;
      padding: 15px;
      height: 100%;

      .content {
        .list {
        }
      }
    }
  }

  .under {
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
