$radius: 10px;

.container {
  display: grid;
  grid-template-columns: minmax(280px, 425px) 2fr;
  grid-template-rows: 110px 3fr 100px;
  grid-gap: 7px;
  height: 100%;
  padding: 7px;

  // border-radius: 15%;

  .layout {
    min-width: 280px;
    max-width: 425px;
    height: 100%;

    .library {
      border-radius: $radius;
      background-color: #121212;
      padding: 15px;
      height: 100%;

      .content {
        .list {
        }
      }
    }
  }

  .last {
    height: 100px;
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
