.content__track {
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px 20px;

  .not__found {
    padding: 10px 10px 0;
    > span {
      color: #fff;
    }
  }
}

.rec {
  padding: 0 20px 20px;

  > div {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
