@mixin default {
  display: flex;
  justify-content: center;
}

.container {
  @include default();
  height: 100%;
  padding: 32px;
  background: linear-gradient(#212121, #121212);

  > div {
    @include default();
    height: 100%;
    max-width: 734px;
    width: 100%;
    background: #000;
    border-radius: 10px;

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-y: scroll;
      width: 100%;
      &::-webkit-scrollbar {
        height: 2px;
        width: 2px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #3b3b3b;
      }
      &::-webkit-scrollbar-track {
        border-radius: 0px 10px 10px 0;
      }
      .title {
        @include default();
        padding-top: 30px;
        > h1 {
          text-align: center;
          font-size: 2.5rem;
          color: #fff;
        }
      }
      @media screen and (max-width: 800px) {
        .title {
          > h1 {
            font-size: 1.5rem;
          }
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        width: 100%;

        .enter {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 60%;
        }

        .div-button {
          display: flex;
          flex-direction: column;
          width: 60%;

          .go {
            @include default();
            background: #1ed760;
            border: none;
            border-radius: 30px;
            padding: 8px 0;
            margin: 16px 0;

            > span {
              width: 100%;
              color: #000;
            }

            transition: all 0.2s;
            &:hover {
              cursor: pointer;
              transform: scale(1.05);
            }
          }

          .recovery {
            background: none;
            border: none;
          }
        }
      }

      .redirect {
        display: flex;
        justify-self: flex-end;
        padding-bottom: 32px;
        > p {
          > a {
            color: #fff;
          }
        }
      }
      > hr {
        border: 0.5px solid #232323;
        width: 75%;
        margin: 32px;
      }
    }
  }
}
