@mixin default {
  display: flex;
  justify-content: center;
}
.error__message {
  display: flex;
  align-items: center;
gap: 5px;
  color: #fff;

  > svg {
    height: 20px;
    width: 20px;
    fill: red;
  }
}

.container {
  @include default();
  height: 100%;
  padding: 32px;
  background: linear-gradient(#212121, #121212);

  > div {
    @include default();
    position: relative;
    height: 100%;
    max-width: 734px;
    width: 100%;
    background: #000;
    border-radius: 10px;

    .back {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 40px;
      height: 30px;
      transform: scale(1);
      transition: transform 0.1s linear;

      &:hover {
        cursor: pointer;
        transform: scale(1.2);
      }

      > svg {
        width: 100%;
        height: 100%;
        fill: #1ed760;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-y: scroll;
      width: 100%;
      &::-webkit-scrollbar {
        height: 2px;
        width: 2px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #3b3b3b;
      }
      &::-webkit-scrollbar-track {
        border-radius: 0px 10px 10px 0;
      }
      .title {
        @include default();
        padding-top: 30px;
        > h1 {
          text-align: center;
          font-size: 2.5rem;
          color: #fff;
        }
      }
      @media screen and (max-width: 800px) {
        .title {
          > h1 {
            font-size: 1.5rem;
          }
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        width: 100%;

        .enter {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 60%;
        }

        .div-button {
          display: flex;
          flex-direction: column;
          width: 60%;
          margin-top: 16px;

          .recovery {
            margin-top: 16px;
            background: none;
            border: none;
          }
        }
      }

      .redirect {
        display: flex;
        justify-self: flex-end;
        padding-bottom: 32px;
        > p {
          > a {
            color: #fff;
          }
        }
      }
      > hr {
        border: 0.5px solid #232323;
        width: 75%;
        margin: 32px;
      }
    }
  }
}
