.header {
  position: sticky;
  top: 0;
  height: 64px;
  min-width: 0;
  z-index: 2;

  > div {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
    padding: 0 15px;

    position: relative;
    height: 64px;
    width: 100%;

    .behind {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      background-color: #121212;
      width: 100%;
      height: 64px;
      opacity: 0;
    }

    .button {
      display: flex;
      align-items: center;

      > button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: black;
        border: none;
        border-radius: 50%;
        padding: 5px;
        width: 30px;
        height: 30px;

        &:last-child {
          margin-left: 5px;
        }

        transition: all 0.1s;
        &:hover {
          transform: scale(1.05);
          cursor: pointer;
        }

        > svg {
          height: 100%;
          width: 100%;
          border-radius: 50%;
        }
      }
    }

    .menu {
      display: flex;
      > a {
        display: flex;
        justify-content: center;
        align-items: center;

        background: black;
        border: none;
        border-radius: 50%;
        padding: 5px;
        width: 30px;
        height: 30px;

        &:last-child {
          margin-left: 5px;
        }

        transition: all 0.1s;
        &:hover {
          transform: scale(1.05);
          cursor: pointer;
        }

        > svg {
          height: 100%;
          width: 100%;
          border-radius: 50%;
        }
      }
    }
  }
}
